body{
    background-color:white;
    height: 100%;
    width: 100%;
}
#gray{
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: gray;
}
#yellow{
    position: absolute;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
    background: yellow;
}
#blue{
    position: absolute;
    top: 18%;
    left: 10%;
    height: 65%;
    width: 80%;
    background: blue;
}
#green{
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 80%;
    background: rgb(72, 236, 72);
}
#red{
    position: absolute;
    top: 25%;
    left: 12%;
    height: 50%;
    width: 75%;
    background: rgb(245, 89, 89);
}